$color-black: #232020;
$color-white: #fff;
$color-secondary-light: #bb9a592c;
$color-secondary-dark: #6e59337e;


.container-card{
  display: flex;
  flex: 1;
  flex-direction: column;
}
.card {

    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    
    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        
        }
    }
  

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }


    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 52rem;
        background-blend-mode: screen;
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), 
        url(../kostas-photo-cropped.jpg);
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-black;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: linear-gradient(to right bottom, 
        rgba($color-secondary-light, .85), 
        rgba($color-secondary-dark, .85));    
    }


    // FRONT SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__text-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__text-only {
        font-size: 1.8rem;
        color: $color-black;
        letter-spacing: 0.5rem;
        line-height: 3.9rem;
    }






    //@include respond(tab-port) {
    @media only screen and (max-width: 56.25em),
            only screen and (hover: none) {

        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        
        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
            }
        }
    
        &:hover &__side--front {
            transform: rotateY(0);
        }

        // FRONT SIDE STYLING
        &__cta {
            position: relative;
            top: 0%;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__text-box {
            margin-bottom: 3rem;
        }
    }
}