$primary-color-light: #bb9a59;
$primary-color-dark: #6e5933;
$primary-color-dark-2: #232020;
$color-black: #232020;
$color-white: #fff;
$color-secondary-light: #bb9a592c;
$color-secondary-dark: #6e59337e;