@import './colors.scss';

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}


.section-features {
    display: flex;
    flex: 1;
    flex-direction: column;
    @media only screen and (max-width: $bp-medium) {
        margin-top: 2rem;
    }
}

.feature-box {
    background-color: rgba($primary-color-dark, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;
    margin-bottom: 30px;

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon {
        font-size: 6rem;
        // margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $primary-color-light, $primary-color-dark);
        -webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}

.icon {
    height: 54px;
    border-radius: 50%;
    margin-right: 10px;
}