@import "./colors.scss";

.section-features {
    display: flex;
    flex: 1;
    flex-direction: column;
    @media only screen and (max-width: $bp-medium) {
        margin-top: 2rem;
    }
}
.project-box {
    background-color: rgba($primary-color-dark, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: $primary-color-dark-2;
    font-weight: 600;
    font-size: 2rem;

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon {
        font-size: 6rem;
        // margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $primary-color-light, $primary-color-dark);
        -webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}

.stack {
    display: flex;
    & p{
        margin-left: 1rem;
    }
}