@import './colors.scss';

.portfolio-view {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    
    @media only screen and (max-width: $bp-medium) {
        margin-top: 2rem;
    }

    &__item {
        background-color: $primary-color-dark-2;
        width: 50vw;
        height: 5rem;
        margin-bottom: 2rem;
        font-size: 1.4rem;
        letter-spacing: 0.6rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: $primary-color-light;
        box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.3);
        transition: 1.4s;
        

        &:hover {
            border-radius: 50%;
            transition: .5s;
        }
    }
  }