// @import "./index.scss"

@import './styles/colors.scss';

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  //1rem = 10px
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
  background-image: linear-gradient(
    to right bottom,
    $primary-color-dark-2,
    $primary-color-dark
  );
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}

///////////////////////////////
//Layout Container
.container {
  max-width: 120rem;
  margin: 6rem auto;
  background-color: $primary-color-light;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;
}

/////////////////////////////
//Upper nav bar

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  background-color: $primary-color-dark-2;
  font-size: 2rem;
  color: $primary-color-light;
  letter-spacing: 0.8rem;
}

.logo {
  height: 4.25rem;
  margin-left: 2rem;
}

.kostas-photo {
  height: 4.25rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.content {
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

/////////////////////////
//SIDEBAR
.sidebar {
  background-color: $primary-color-dark-2;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid $primary-color-light;
  height: 85vh;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  color: $primary-color-light;

  &__item {
    position: relative;

    &:not(::last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-image: linear-gradient(
      to right bottom,
      $primary-color-dark,
      $primary-color-light
    );
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }
  &__item:hover::before {
    transform: scaleY(1);
    width: 100%;
  }
  &__item:active::before {
    background-color: #fff;
  }

  &__link:link,
  &__link:visited {
    color: $primary-color-light;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  &__link:hover {
    color: $primary-color-dark-2;
    transition: 2s;
    font-weight: 700;
  }
}

////////////////////////////
//legal text
.legal {
  font-size: 1.2rem;
  text-align: center;
  color: $primary-color-light;
  padding: 2.5rem;
}

////////////////////////////////////
//Landing Page
.portfolio-view {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;

  & h1 {
    font-size: 5rem;
    color: $primary-color-dark-2;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
  }
}

#countdown {
  background-color: $primary-color-dark-2;
  border-radius: 50%;
  color: #bb9a59;
  height: 8.75rem;
  width: 8.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid $primary-color-dark-2; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $primary-color-dark; }
}